# Editor settings
.vscode

# Cache
.cache

# Local System
.DS_store

# Local env
.env

# Dependency directories
node_modules

# Output
build
dist

# ormconfig
ormconfig.json

# vercel
.vercel

# typescript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# next.js
.next/
out/