html,
body {
  margin: 0;
  padding: 0;
  background: #f9fcff;
  font-family: -apple-system, Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
